client/client/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2074/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2074/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2074/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registeruser_InputMessage">
    <wsdl:part name="parameters" element="tns:registeruser" />
  </wsdl:message>
  <wsdl:message name="IService1_registeruser_OutputMessage">
    <wsdl:part name="parameters" element="tns:registeruserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registeradmin_InputMessage">
    <wsdl:part name="parameters" element="tns:registeradmin" />
  </wsdl:message>
  <wsdl:message name="IService1_registeradmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:registeradminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_user_InputMessage">
    <wsdl:part name="parameters" element="tns:Login_user" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_user_OutputMessage">
    <wsdl:part name="parameters" element="tns:Login_userResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isadmin_InputMessage">
    <wsdl:part name="parameters" element="tns:isadmin" />
  </wsdl:message>
  <wsdl:message name="IService1_isadmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isadminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getpost_InputMessage">
    <wsdl:part name="parameters" element="tns:getpost" />
  </wsdl:message>
  <wsdl:message name="IService1_getpost_OutputMessage">
    <wsdl:part name="parameters" element="tns:getpostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getpostlist_InputMessage">
    <wsdl:part name="parameters" element="tns:getpostlist" />
  </wsdl:message>
  <wsdl:message name="IService1_getpostlist_OutputMessage">
    <wsdl:part name="parameters" element="tns:getpostlistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addpost_InputMessage">
    <wsdl:part name="parameters" element="tns:addpost" />
  </wsdl:message>
  <wsdl:message name="IService1_addpost_OutputMessage">
    <wsdl:part name="parameters" element="tns:addpostResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_postingthepost_InputMessage">
    <wsdl:part name="parameters" element="tns:postingthepost" />
  </wsdl:message>
  <wsdl:message name="IService1_postingthepost_OutputMessage">
    <wsdl:part name="parameters" element="tns:postingthepostResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registeruser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registeruser" message="tns:IService1_registeruser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registeruserResponse" message="tns:IService1_registeruser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registeradmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registeradmin" message="tns:IService1_registeradmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registeradminResponse" message="tns:IService1_registeradmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login_user">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login_user" message="tns:IService1_Login_user_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Login_userResponse" message="tns:IService1_Login_user_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isadmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isadmin" message="tns:IService1_isadmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isadminResponse" message="tns:IService1_isadmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getpost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getpost" message="tns:IService1_getpost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getpostResponse" message="tns:IService1_getpost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getpostlist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getpostlist" message="tns:IService1_getpostlist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getpostlistResponse" message="tns:IService1_getpostlist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addpost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addpost" message="tns:IService1_addpost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addpostResponse" message="tns:IService1_addpost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="postingthepost">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/postingthepost" message="tns:IService1_postingthepost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/postingthepostResponse" message="tns:IService1_postingthepost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registeruser">
      <soap:operation soapAction="http://tempuri.org/IService1/registeruser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registeradmin">
      <soap:operation soapAction="http://tempuri.org/IService1/registeradmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login_user">
      <soap:operation soapAction="http://tempuri.org/IService1/Login_user" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isadmin">
      <soap:operation soapAction="http://tempuri.org/IService1/isadmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getpost">
      <soap:operation soapAction="http://tempuri.org/IService1/getpost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getpostlist">
      <soap:operation soapAction="http://tempuri.org/IService1/getpostlist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addpost">
      <soap:operation soapAction="http://tempuri.org/IService1/addpost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postingthepost">
      <soap:operation soapAction="http://tempuri.org/IService1/postingthepost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:2074/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>